@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0px;
  padding: 0;
  font-family: Raleway, sans-serif;
}

header {
  width: 100%;
  background-color: black;
  color: white;
  height: 60px;
}

header ul li {
  width: 25%;
  color: goldenrod;
  list-style: none;
  float: left;
  text-transform: uppercase;
  text-align: center;
}

header ul {
  margin-left: 0;
  padding-left: 0;
}

#logo {
  width: 20%;
  height: 55px;
  float: left;
  text-align: center;
  padding-top: 5px;
}

#menu {
  width: 80%;
  height: 60px;
  float: left;
}

header ul li a {
  color: goldenrod;
  text-decoration: none;
}

/*Home section starts*/
#home {
  color: white;
  width: 100%;
  text-align: center;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  height: 400px;
  background-size: 100% 100%;
}

#home h1 {
  margin-top: 0;
}

.content_1home {
  margin-top: 200px;
  width: 60%;
  margin: 0 20%;
  padding-top: 170px;
}

.subcont1 {
  background-color: rgb(147, 13, 13);
  border-radius: 20px;
}


/*Home section ends*/


/*About section starts*/
#about {
  width: 100%;
  height: 500px;
}

.div_abt {
  width: 16%;
  background-color: crimson;
  float: left;
  color: white;
  text-align: center;
  padding: 0 2%;
  height: 330px;
}

.div_abt img {
  padding-top: 15px;
}

.mLR {
  margin: 0 4%;
}

.mR {
  margin-right: 4%;
}

.div_abt button {
  border-radius: 5px;
  border: none;
  background-color: rgb(41, 40, 40);
  color: white;
}

#about h1 {
  text-align: center;
}

/*about section ends*/

/*Team section Starts*/

#team {
  width: 100%;
  height: 300px;
  background-color: violet;
}

.teamContent1 {
  background-color: coral;
  height: 350px;
  padding-top: 50px;
}

.teamleft {
  margin-left: 4%;
  width: 26%;
  float: left;
  height: 250px;
  padding: 4% 2%;
}

.teamleft h1 {
  text-align: center;
}

.teamright {
  margin-left: 2%;
  width: 60%;
  margin-right: 4%;
  float: left;
}

/*team section ends*/

/*Contact section starts*/
#contact {
  width: 100%;
  height: 400px;
  padding-top: 150px;
}

.contactCont1 {
  width: 92%;
  margin: 0 4%;
}

.contactleft,
.contactright {
  width: 50%;
  float: left;
  height: 400px;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}

label {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: black;
  height: 40px;
  border: none;
  font-size: 22px;
  color: white;

}

form {
  padding: 0 4%;
}







/*contact section ends*/